<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors list</title>
</head>
<body>
    {% extends "base_generic.html" %}

    {% block content %}
    <h1>Author list</h1>
    <div class="authors-list-block" style="font-weight: 300">
        {% for author in author_list %}
            <p><a href="{{author.get_absolute_url }}" style="font-weight: 500">{{ author }}</a> ({{ author.date_of_birth }} - {{ author.date_of_death }})</p>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>